body {
    background-color: #333;
    font-family: 'Agdasima', sans-serif;
}
a {
    text-decoration: none;
}
.navbar {
    background-color: #555;
    text-align: right;
}
.navbar li {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}
.navbar a {
    color: white;
}
.navbar a::after {
    content: "";
    display: block;
    border-bottom: 1px solid transparent;
    transform: translateX(100%);
    transition: 0.5s;
}
.navbar a:hover::after {
    border-bottom-color: white;
    transform: translateX(0%);
    box-shadow: 0 0 15px;
}